[Unit]
Description=Hyprland session
Documentation=https://wiki.hypr.land/
Wants=waybar.service hyprpaper.service mako.service keepassxc.service hyprpolkitagent.service
