[Unit]
Description=Waybar panel
Documentation=https://github.com/Alexays/Waybar
PartOf=hyprland-session.target
After=hyprland-session.target

[Service]
ExecStart=%h/.nix-profile/bin/waybar
Restart=on-failure
RestartSec=3

[Install]
WantedBy=hyprland-session.target
